{% extends "evaluator/base.html" %}
{% load account socialaccount %}


{% block content %}
  {% get_providers as socialaccount_providers %}

  <div class="socialaccount_ballot">
    {% with provider=socialaccount_providers.0 %}
      <li>
        <a title="{{ provider.name }}" class="socialaccount_provider {{ provider.id }}"
           href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">{{ provider.name }}</a>
      </li>
    {% endwith %}
  </div>
{% endblock %}
