{% load bootstrap5 static %}
<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
  <!-- Required Meta Tags Always Come First -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Title -->
  <title>Cover Sign In | Front - Admin &amp; Dashboard Template</title>

  <!-- Favicon -->
{#  <link rel="shortcut icon" href="./favicon.ico">#}

  <!-- Font -->
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">

  <!-- CSS Implementing Plugins -->
  <link rel="stylesheet" href="{% static 'vendor/icon-set/style.css' %}">
  <link rel="stylesheet" href="{% static 'vendor/select2/dist/css/select2.min.css' %}">

  <!-- CSS Front Template -->
  <link rel="stylesheet" href="{% static 'css/theme.min.css' %}">
</head>

{% block content %}{% endblock %}
</html>